.collection__container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* overflow: hidden; */
  overflow-y: scroll;
}

.collection__card {
  display: flex;
  flex-direction: column;
  height: 450px;
}

.collection__item {
  word-wrap: inherit;
  overflow: hidden;
  /* overflow-x: scroll; */
  text-overflow: hidden;
  width: 250px;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 200px;
  max-height: 450px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.3);
  margin: 5px;
  transition: all 0.3s linear;
}

.guitar:hover {
  box-shadow: 0px 2px 9px 12px rgba(96, 96, 97, 0.33);
}

.item__img {
  height: 250px;
  width: 100px;
}

.item__name {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: inherit;
}

.item__description {
  text-align: center;
  padding: 3px;
}

.collection-noguitars {
  color: rgb(145, 60, 60);
  text-shadow: 0px 0px 16px rgba(202, 0, 0, 1);
  font-family: "Cuprum", sans-serif;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 10px;
  padding-top: 4px;
  align-self: center;
  width: 100%;
  font-size: 35px;
  text-align: center;
}
